<div class="jumbotron">
	<div class="row">
	  <h2>Dear Netlight, the time has come to place your votes!</h2>
	  <p>You get three votes, worth 1, 2 and 3 points, <u>where 1 is low and 3 is high</u>.<br>The song you like the most gets 3 points – simple as that!</p>
	  <p>Place your votes carefully on the three songs of your choice – and remember, <u>once you have submitted your votes you can not change your mind!</u></p>
	  <p><strong>May the horse be with you, and may the best song win!</p>
	  <br>
	</div>

	<div ng-hide="playlist && playlist.length > 0">
		Sorry, there is nothing here yet. Why don't you go record a submission?
	</div>

	<div style="text-align:left">
		<p>Your votes</p>
	
		<p ng-repeat="point in points">

			<strong>{{point}}
			<ng-pluralize count="point"
                 when="{'one': 'point:&nbsp&nbsp',
                     'other': 'points: '}">
			</ng-pluralize>
			</strong>

			{{ join(findTrack(votes[point]).title, findTrack(votes[point]).customTrackMeta.stageName, '-') || "-" }}</p>

		<button ng-show="!hasVoted && voteChecked" ng-click="submit()" class="btn btn-primary" sparkley="{color: 'rainbow', count: '100',overlap: '10'}">Submit votes</button>
		<h3 ng-show="message">{{message}}</h3>
	</div>

	
	<div class="row" ng-repeat="track in playlist">

		<hr style="border-top: 1px solid black;">

		<div class="col-md-8">

			<h2>{{ join(track.title, track.customTrackMeta.stageName, '-') }}</h2>
			<h4>{{ join(track.customTrackMeta.composers, track.customTrackMeta.musicians, '&') }}</h4>
			<h4 ng-hide="!track.customTrackMeta.username">Uploaded by {{ track.customTrackMeta.username }}</h4>
			<div ng-bind-html="trust(track.embed)">

			</div>

		</div>

		<div class="col-md-4">	
		      <div class="btn-group">

		        <button ng-repeat="point in points" ng-class="{'active': votes[point] == track.id}" ng-click="vote(point, track.id)" type="button" class="btn btn-primary">{{point}}</button>

		    </div>
		</div>

	</div>
	
</div>
