<div class="jumbotron">
  <h1 class="long-word">Unieurocornlightvision</h1>
  <h3>What does the Unicorn say?</h3>
  <p class="lead">
    <img src="images/unicorn.png" alt="Unicorn"><br>
  </p>

  <p>
  <strong>DO YOU HAVE WHAT IT TAKES TO BECOME THE STAR OF NETLIGHT?</strong><br/>
  Shoe your hooves, comb your mane, sharpen your unicorn and get ready for the creative challenge of a lifetime.
  </p>

  <form style="text-align: center;margin-top: 40px;" ng-submit="submit()" class="form-inline" role="form">

	  <div ng-hide="okMessage">
  <p>Enter your Netlight email. An email will be sent to your Netlight email, click the link in the email to sign in!</p>

  <div ng-class="{'has-error': !!message }" class="form-group">
    <input ng-model="input" type="text" class="form-control" placeholder="your Netlight email">
  </div>

  <button type="submit" class="btn btn-lg btn-success">Submit</button>

  <p class="text-danger">{{ message }}</p>
  </div>
  <p ng-hide="!okMessage">{{ okMessage }}</p>

  </form>
</div>

