<div class="jumbotron">
  <h1>Unieurocornlightvision</h1>
  <h3>What does the Unicorn say?</h3>
  <p class="lead">
    <img src="images/unicorn.png" alt="Unicorn"><br>
  </p>

  <h2>The song contest of a life time is finally here! </h2>
  <h4>Do you have what it takes to become the star of Netlight?</h4>
  <p>
  Now is the time to test your creative skills and produce the next Netlight
  song to brighten every Netlighters day.
  On the site you can find rules for the contest as well as submit your song
  once it is done.
  So team up with your colleagues and have a jam session.
  </p>
</div>
