<div class="jumbotron">
  <h1 class="long-word">Unieurocornlightvision</h1>
  <h3>What are the rules?</h3>

  <p>
  1. The song texts and the execution of the challenge shall have a clear
  connection to Netlight's employees and/or our values as a company.
  </p>
   
  <p>
  2. The songs shall not "compete" with <i>You're the inspiration</i> that we play
  during our award ceremonies.
  </p>
   
  <p>
  3. Everything that is created internally shall be in a state that it does not
  give any kind of bad publicity if it is spread externally.
  </p>
   
  <p>
  4. Due to legal reasons covers are not accepted which means that both music and
  lyrics must be created by the contestants or that music provided on the
  contest website is used and lyrics are written for this music.
  </p>
   
  <p>
  5. Lyrics must be written in English.
  </p>

  <p>
  6. You can compete alone or in a group and the group can be as big as you want.
  </p>
   
  <p>
  7. Songs must be uploaded before 23rd of mars at 12:00.
  </p>

</div>
