<div class="jumbotron ng-scope">
	<div ng-hide="message">
		<span>With great power comes great responsibility, handle the spam'o'mat with care!</span>
		<form class="submission ng-pristine ng-valid" role="form" ng-submit="submit(sub)">
			<input type="text" ng-model="sub.subject" class="form-control" placeholder="Subject">
			<p>You can use \{\{ link \}\} to insert login link</p>
			<textarea placeholder="Body" class="spam-body" ng-model="sub.body"></textarea>
			<label>Recipients: </label>
			<input type="file" ng-file-select="onFileSelect($files)" class="custom-file-input">
			<button type="submit" class="btn btn-lg btn-success">Submit</button>

		</form>
	</div>
	<div ng-hide="!message">
		{{ message }}
	</div>
</div>
