<div class="jumbotron ng-scope">
    <div class="row">
        <div class="col-xs-12">
            <img class="img-responsive" src="images/musiccorn.png" alt="Unicorn">
        </div>
    </div>
    <span>You have come to the right place. It is time to make your song submission...</span>
    <form class="submission ng-pristine ng-valid" role="form">
        <input type="text" class="form-control" placeholder="Song title">
        <input type="text" class="form-control" placeholder="Stage name">
        <input type="text" class="form-control" placeholder="Musicians">
        <input type="text" class="form-control" placeholder="Composers">
        <input type="file" ng-file-select="onFileSelect($files)" class="custom-file-input">
    </form>
</div>