<div class="jumbotron ng-scope">
    <div class="row">
        <div class="col-xs-12">
            <img class="img-responsive" src="images/musiccorn.png" alt="Unicorn">
        </div>
    </div>
	<div ng-hide="message">
		<span>You have come to the right place. It is time to make your song submission...</span>
		<form class="submission ng-pristine ng-valid" role="form" ng-submit="submit(sub)">
			<input type="text" ng-model="sub.title" class="form-control" placeholder="Song title">
			<input type="text" ng-model="sub.stageName" class="form-control" placeholder="Stage name">
			<input type="text" ng-model="sub.musicians" class="form-control" placeholder="Musicians">
			<input type="text" ng-model="sub.composers" class="form-control" placeholder="Composers">
			<input type="file" ng-file-select="onFileSelect($files)" class="custom-file-input">
			<button type="submit" class="btn btn-lg btn-success">Submit</button>

		</form>
	</div>
	<div ng-hide="!message">
		{{ message }}
	</div>
</div>
