$NetlightPurple:#36185F; //Purple (Primary color)
$NetlightGold:#CC9933; //Gold (Complementary color)
$NetlightSilver:#ededed; //Silver
$NetlightGray:#262626; //Gray (used for e.g body copy)
$Black:#000;
$LightGrey:#ccc;
$White:#fff;
$DarkGrey:#555555;
$highlight:#428bca;