$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import 'mixins';
@import 'colors';

html {

}


.browsehappy {
  margin: 0.2em 0;
  background: $LightGrey;
  color: $Black;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  /* Workaround for some mobile browsers */
  background: url('/images/bkgnd.jpg') no-repeat center center;
  min-height: 100%;
  background-size: cover;
}

/* Menu stylings */

ul.nav li a {
  color: $White;
}

ul.nav li.active a {
  background-color: $NetlightPurple;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,

/* Custom page header */
.header {
  border-bottom: 1px solid $LightGrey;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
#footer {
  #logo-img{
    border-radius: 6px;
    max-width: 100%;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid $LightGrey;
}

.jumbotron .btn {
  @include font-size(1.8);
  padding: 4px 24px;
  background-color: $NetlightPurple;
  border-color: $NetlightPurple;
}

.jumbotron .btn.active {
  background-color: $DarkGrey;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 930px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

//nav
$defaultPadding:5px;
.nav{
  padding-bottom: $defaultPadding;
  padding-top: $defaultPadding;
}

//Submission
$defaultMargin:5px;
.submission{
  input{
    margin-bottom: $defaultMargin;
  }
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select file (.mp3)';
  display: inline-block;
  background: -webkit-linear-gradient(top, $LightGrey, $LightGrey);
  border: 1px solid $DarkGrey;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px $White;
  font-weight: 700;
  @include font-size(1.0);
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, $LightGrey, $LightGrey);
}

.spam-body {
	display: block;
	width: 100%;
	height: 340px;
	padding: 6px 12px;
	@include font-size(1.4);
	line-height: 1.428571429;
	color: $DarkGrey;
	vertical-align: middle;
	background-color: $White;
	background-image: none;
	border: 1px solid $LightGrey;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.long-word{
  @include font-size(2.5);
}

.custom-file-input{
  width:100%;
  @include font-size(1.7);
}
